.menu{
    border: 1px ;solid;
    background-color: #ffffff;
    display: flex;
    list-style: none;
    justify-content: center;
}
.item-menu{
    border: 1px solid#000000;
    background-color: #fd0000;
    padding: 10px 40px;
    transition: opacity 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 8px;
}
.item-menu:hover{
    opacity: 0.7;
}
.link-item-menu{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 40px;
}